{% extends 'Demi/base.html'%} 
{% load crispy_forms_tags%} 
{% load static %}
{% block content%}
<br/>

<div class="container">
  <form method="POST" action = "" style="border-radius: 25px; border: 2px solid #060808; padding: 20px; width: 400px; height: 350px;
  margin-block: 50px; margin-left: 490px; background-color: beige;">
    <h1 class = "text-center
    ">ADD_STOCK </h1><br>
    {% csrf_token %} 
    {{form | crispy}}
    <input type = "submit" class="btn btn-secondary btn"type="button" value="ADD">
  </form>
</div>
{% endblock %}