{% extends 'Demi/base.html' %} 
{% block content %} 
{% load static %}

<br><br><br><br><br><br><br>
  <div class = "container">
    <form action = "" method = "GET" style="margin-right: 450px;">
      {{product_filters.form}}
      <input type = "submit"
      value = "Search spareparts"
      class="btn btn-info btn"/>
    </form>
  </div>
  <br><br>
  <div class = "container">
    <h1 class= "text-center">ITEMS IN STOCK</h1>
    </div>
    <br>

  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">part Number</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope = "col">Country of origin</th>
        <th scope = "col">Detail</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr>    
        <td>{{product.category_name}}</td>
        <td>{{product.item_name}}</td>
        <td>xw-{{product.id}}</td>
        <td>{{product.total_quantity}}</td>
        <td>UGX{{product.unit_price}}</td>
        <td>{{product.country_of_origin}}</td>
        
        <td>
          <a href ="{% url 'product_detail' product.id %}"><input type="submit"value="PURCHASE ITEM"
                class="btn btn-info btn" style="color: skyblue;"
                type="button"
            /></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <br><br><br><br><br><br><br><br><br>
  

</div>
{% endblock %}

