.down{
  text-align: center;  
}

.new{
    color: chocolate;
    text-align: center;

}
 body{ 
  background: dark;
  /* background-image: url('../tech.png'); */
  background: no-repeat;
  size: 100%;

}

.p{
  text-align: center;
  color: blueviolet;
}
.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50);
  border: 2px solid black;
  width: 400px;
  height: 25px;

  border-radius: 25px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

}
 
    #form {
        width: 300px;
        margin: 34px auto;
    }
    label {
        display: block;
        margin-bottom: 25px;
    }
    input {
        width: 100%;
        padding: 45px;
        margin-bottom: 10px;
    }
    button {
        background-color: #007bff;
        color: white;
        padding: 45px 40px;
        
        
    }
 
 
form{
  margin-right: 35px;
  padding: 20px;
  text-align: right;
}





